<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="18719ViswanathRamanan.Epiphany" Publisher="CN=F13159E3-8501-4753-9208-FDD795A7A68F" Version="1.1.0.0" />
  <Properties>
    <DisplayName>Epiphany</DisplayName>
    <PublisherDisplayName>Viswanath Ramanan</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Epiphany.Windows.App">
      <m2:VisualElements DisplayName="Epiphany" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="Epiphany is a fully-featured windows app for the Goodreads service with a simple and intuitive user interface. View recent member updates, find new books, comment on reviews and meet new people who share reading habits with you!" ForegroundText="light" BackgroundColor="#464646" ToastCapable="true">
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
        <m2:ApplicationView MinWidth="default" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>